bidict==0.14.0
bokeh
ConfigArgParse
imbalanced-learn
lxml
music21==5.1.0
mutagen
numpy
pandas
Pillow
pygame
pyglet
scikit-image
scikit-learn
scipy
seaborn
tensorboard
torch
torchfile
torchvision
tqdm
visdom